<div class="example-box" cdkDrag>
<form [formGroup]="seekForm" (ngSubmit)="Fetch_info()">
    <input formControlName="toseek" matInput class="example-full-width">
  <button  class="button" type="submit" mat-raised-button color="primary">Search Artist</button>
</form>
  <p class="widget-title"> {{this.infos.name}}</p>
  <div class="example-handle" cdkDragHandle>
    <span class="widget-user-name"> Popularity: {{this.infos.popularity}}</span>
    <span class="widget-number-followers"> Genre: {{this.infos.genres}} </span>
    <span class="widget-number-prepos"> Number of followers: {{this.infos.followers.total}}</span>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div>