<div class="example-box" cdkDrag>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex: SoftWayback" value="Search for Users" [(ngModel)]="playerName" (keyup.enter)="Fetch_info()">
    </mat-form-field>
  </form>
  <p class="widget-title"> GITHUB - FETCHED </p>
  <div class="example-handle" cdkDragHandle>
    <span class="widget-user-name"> Username: Softwayback</span>
    <span class="widget-number-followers"> Followers: 3</span>
    <span class="widget-number-following"> Following: 9</span>
    <span class="widget-number-prepos"> Public repos: 6</span>
    <span class="widget-loc"> Location: Nancy </span>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div>